@model BirthdayCardGenerator.Models.BirthdayCard
@{
    ViewBag.Title = "Send a Birthday Card";
    Layout = "~/Views/_BasicLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Birthday Card Generator</title>
    <style>
        .btn a {
            color: white;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <h1>@ViewBag.Title</h1>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary()
        <p>
            <label>From:</label> @Html.TextBoxFor(t => t.From,
new { @class = "form-control", maxlength = 30, style = "width:200px;" })
        </p>

        <p>
            <label>To:</label> @Html.TextBoxFor(t => t.To,
new { @class = "form-control", maxlength = 30, style = "width:200px;" })
        </p>

        <p>
            <label>Message:</label> @Html.TextBoxFor(t => t.Message,
new { @class = "form-control", maxlength = 30, style = "width:200px;" })
        </p>

        <input type="submit" value="Send Card" class="btn btn-success" />
    }
</body>
</html>
